*{
    margin: 5px;
    padding: 5px;
}
h1{
    color:#ff3950;
    text-shadow: 2px 2px black;
    background-color: #282828;
    float:left;
    height: 73px;
    align-content:space-around;
    
}
h2{
    border: 3px black solid;
    width:fit-content;
    align-content: center;
    background-color: #282828;
}

h3{
    border: 3px black solid;
    width:375px;
    align-content: center;
    width:fit-content;
    height:auto;
    background-color: #282828;
}

h5{
    border: 3px black solid;
    width:fit-content;
    align-content: center;
    background-color: #282828;
}


nav{
    background-color: #282828;
    height: 100px;
    
}

section{
    display: grid;
    width:1600px;
    height: 1200px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
/* i used the code from the sustainablility webiste because i liked the way the nav menu looked, ended up switching it up and taking some parts out that i didnt like and 
switched directions with the nav menu slightly*/
    
a{
    color:#ff3950;
}
a:hover{
    color:black;

}
ul a:hover{
    color:white;
    background-color:black;
}

li{
    list-style-type: none;
    display:inline-block;
    
}

ul a{
    color:#ff3950;
    display:inline-block;
    padding:1rem;
    font:bold;
    text-decoration: none;

}

body{
    background-color: #c2c2c2;
    font-size: 20px; 
    color:#ff3950;
    
}
/* allows the logo to be in line with the nav menu*/
header img{
    float:left;
}

/* changes the size of the photos on the memebers page to a universal size */
.memberphoto{
    width:200px;
    height:200px;
    border: 3px black solid;
    background-color:red;

}
#meetpics{
    margin: 30px;
    padding: 20px;
    width:fit-content;
}

form label {
    background-color: #282828;
    padding:5px;
    margin: 10px;

}